<h1>Stupid Coaching</h1>
<div class = "question">
<p> <%= @question %> </p>
<p> <i> - You </i> </p>
</div>

<div class = "answer">
<p> <b> <%= @answer %> </b> </p>
<p> <i> - Your Coach </i> </p>
</div>

<a href="/ask">Ask another question</a>





